importFrom(Biobase, biocReposList)
importFrom(multtest, mt.maxT, mt.minP, mt.rawp2adjp, mt.teststat)
importFrom(qvalue, qvalue)
importFrom(stats, pf, pt, pwilcox, sd)
importFrom(utils, available.packages, contrib.url, install.packages)

export(installReps, mt.wrapper)
